.Tile {
  height: 100%;
  width: 100%;
  padding: 10px 5px 0 5px;
  border: none;
  background: none;
  cursor: pointer;

  --folder-flap-height: 12px;

  /* HACK: fixes iOS flicker on scroll */
  transform: translateZ(0);
  display: flex;
}

.Tile:not(.scanner__focused) {
  outline: 0;
}

.TileShape::before,
.TileShape[data-isfolder='true']::after {
  background: inherit;
  border: 3px solid transparent;
  z-index: -1;
}

.TileShape::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.TileShape[data-isfolder='true']::before {
  top: 10px;
  border-radius: 0 3px 3px 3px;
}

.TileShape[data-isfolder='true']::after {
  content: '';
  width: 50%;
  height: var(--folder-flap-height);
  border-radius: 0 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 0;
  z-index: -1;
}

.Tile:focus .TileShape::before,
.Tile:focus .TileShape[data-isfolder='true']::after,
.Tile:active .TileShape::before,
.Tile:active .TileShape[data-isfolder='true']::after {
  border-color: rgb(0, 0, 0);
}

.Tile:not(:focus):hover .TileShape::before,
.Tile:not(:focus):hover .TileShape[data-isfolder='true']::after {
  border-color: rgba(0, 0, 0, 0.5);
  transition: none;
}
