:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: Montserrat, ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* For firefox scroll */
  scrollbar-color: #d3d1d1 #ffffff;
  scrollbar-width: thin;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* For Chrome, Edge, and Safari scroll*/
*::-webkit-scrollbar {
  width: 13px;
  height: 16px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #d3d1d1;
  border-radius: 20px;
  border: 4px solid #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Make the print section visible */
  .print-section,
  .print-section * {
    visibility: visible;
  }

  /* Force the print section to fill the page */
  .print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    overflow: visible;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-title {
    display: block !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: black !important;
    text-align: center !important;
    margin-bottom: -6px !important;
  }

  .printTilesRow {
    height: auto !important;
    min-height: auto !important;
  }

  @page {
    margin: 0;
  }
}
